/*
NOM :MAI
Prénom :jingye

NOM :xie
Prénom :xiaoyao

*/
*{

    margin: 0;
    
    padding: 0;
    
    list-style: none;
    
    text-decoration: none;
    } 
#lunbo{
    margin: 0;

    padding: 0; 
    width: 800px;
    height: 400px;
    border: 2px solid #BC836B;
    position:absolute;
    top:20%;
    /* left:10%;  */
    right: 30%;
    /* cacher l'image suivante */
    overflow: hidden;

}
#imglst{
    /* Taille de l'image * nombre = taille totale de la toile */
    width: 6400px;
    height: 400px;

}
#imglst img{
    /* Taille de l'image */
    width: 800px;
    height: 400px;

}
#imglst li{
    /* de côté */
    float: left;
}

/* carrousel page précédente */
.shang{
    background: #BC836B;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left:5px;
    top:45%;
    /* pointeur de la souris */
    cursor: pointer;
}

/* Page suivante du carrousel */
.xia{
    background: #BC836B;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right:5px;
    top:45%;
    /* pointeur de la souris */
    cursor: pointer;
}

/* Conception numérique du bas du carrousel */
#iconlst{
    position: absolute;
    bottom: 10px;
    right: 35%;
}
#iconlst li{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #BC836B;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    
} 

/* liste de droite */
#liebiao{
    margin: 0;

    padding: 0; 
    width: 400px;
    height: 400px;
    position:fixed;
    top:150px;
    /* masquer le congé de droite */
    right  :-45px; 
}
/* Conception interne de chaque colonne */
#liebiaopai li{
    height: 80px;

    border: 2px solid #BC836B;
    border-radius: 100px;
    border-right:none;
    margin: -2px 0px 0px 0px;
    padding-left: 10px ; 
    z-index:0;
    line-height: 70px;
    background: #faff72;

    cursor: pointer;
    transition: background .40s;
    color: #66889E;
}

/* meilleure rétroaction */
#liebiaopai li:hover{
    background-color: #F29a76;
    color:white;
    width: 3000px;
}


/* Icône de lien externe dans le coin supérieur gauche */
.tubiao a{
    font-size:20px;
    color:#fff;
    width:50px;
    height:50px;
    line-height:50px;
    margin:0 20px;
    display:inline-block;
    transition: .1s linear;
    position: relative;
    text-align:center;
}

/* conception d'animation au survol de la souris */
.tubiao a::before, .tubiao a::after{
    content:"";
    position: absolute;
    box-sizing: border-box;
    width:100%;
    height:100%;
    left:0;
    top:0;
    transition: .1s linear;
}

/* course d'animation */
.tubiao a:hover{
    transform: scale(.8);
}

.tubiao a:hover::before{
    border-left:4px solid;
    border-right:4px solid;
    transform: skewX(20deg);
}

.tubiao a:hover::after{
    border-top:4px solid;
    border-bottom:4px solid;
    transform: skewY(-20deg);
}